H1 {
	TEXT-ALIGN: center; TEXT-INDENT: 0px; MARGIN: 0px; FONT: bold x-small/150% Arial; COLOR: black
}
H2 {
	TEXT-ALIGN: justify; TEXT-INDENT: 30px; MARGIN: 0px; FONT: x-small/150% Arial; COLOR: black
}
H3 {
	TEXT-ALIGN: center; TEXT-INDENT: 0px; MARGIN: 0px; FONT: x-small/150% Arial; COLOR: black
}
H4 {
	TEXT-ALIGN: right; TEXT-INDENT: 0px; MARGIN: 0px; FONT: x-small/150% Arial; COLOR: black
}
H5 {
	TEXT-ALIGN: justify; TEXT-INDENT: 0px; MARGIN: 0px; FONT: x-small/150% Arial; COLOR: black
}
